<header>
    <div class="container mt-2">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/admin" class="navbar-brand fs-5 fw-bold">Admin Panel</a>

            <ul class="nav col-12 col-lg-auto me-lg-auto ms-4 mb-2 justify-content-center mb-md-0">
                <li><a href="/admin/all-products" class="nav-link px-2 link-body-emphasis">All Products</a></li>
                <li><a href="/admin/all-users" class="nav-link px-2 link-body-emphasis">All Users</a></li>
                <li><a href="/admin/all-orders" class="nav-link px-2 link-body-emphasis">All Orders</a></li>
            </ul>
        </div>
    </div>
</header>