<header style="position: sticky; top:0; z-index: 3;">
    <div class="container">
        <div class=" d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="#" class="navbar-brand fs-5 fw-bold">Shopping Cart</a>

            <ul class="nav col-12 col-lg-auto me-lg-auto ms-4 mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 link-secondary">Products</a></li>
                <li><a href="/cart" class="nav-link px-2 link-body-emphasis">Cart</a></li>
                {{#if user}}
                    <li><a href="#" class="nav-link px-2 link-body-emphasis">Orders</a></li>
                {{/if}}
            </ul>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {{#if user}}
                        {{user.name}}
                    {{else}}
                        Account
                    {{/if}}
                </button>
                <ul class="dropdown-menu">
                    {{#if user}}
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    {{else}}
                        <li><a class="dropdown-item" href="/login">Login</a></li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
</header>